body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}

* {
    font-size: 4vh;
    margin: 0;
}

.display {
    padding: 10px;
    border: 0.25px solid #4f4f4f;
    border-radius: 2px;
    font-size: 1rem;
    color: black;
    overflow-y:hidden;
    width: clamp(200px, 60vh, 75%);
}

.display input {
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    width: clamp(200px, 55vh, 100%);
    margin: 5px;
}

.calculate {
    display: grid;
    grid-template-columns: repeat(4, 8vh);
    gap: 4vh;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 5px;
}

.btn11 {
    background-color: orange;
    border-radius: 100%;
}

.btn:active {
    color: red;
}

.activation,
.back {
    font-size: 2.5vh;
}

#previousValue {
    font-size: 0.75rem;
}

#decimalhandle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
}

#decimalhandle input {
    text-align: center;
}